body input {
    display: block;
    margin-top:10px;
    width: 200px;
}
input[type="radio"]{
    display: inline-block;

    width: 10px;
}

.input-style {
    color: blue;
    font-weight: 600;
    font-size: 20px;
}